@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}
body{
    background-color: #1D232A;
    font-family: 'open sans', 'icones' sans-serif, ;
    color: #FFFFFF;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#15191c;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}
.cabecalho__menu i::before{
    content: '\e904';
    font-size: 24px;
    font-family: 'icones';

}
.cabecalho__notificacao i::before{
    content: '\e906';
    font-size: 24px;
    font-family: 'icones';
}
.cabecalho__logo{
    width: 40px;
}
.menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: #15191c;
    width: 75vw;
    height: 100vh;

    position: absolute;
    left: -100vw;
    transition: .25s;

}
.menu-lateral--ativo{
    left: 0;
    transition: .25s;

}

.menu-lateral__logo{
    align-self: center;
    width: 118px;
    padding: 16px;
}
.menu-lateral__link{
    height: 64px;
    color:#95999C ;
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu-lateral__link::before{
    content: '\e900';
    width: 25px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
    font-family: 'icones';
}

.menu-lateral__link--ativo{
    color: #FFFFFF;
    padding-left: 56px;
    border-left: 8px solid #FFFFFF;
}

.menu-lateral__link--inicio::before{
    content: '\e902';
    font-family: 'icones';
}
.menu-lateral__link--videos::before{
    content: '\e90e';
    font-family: 'icones';
}
.menu-lateral__link--picos::before{
    content: '\e909';
    font-family: 'icones';
}
.menu-lateral__link--integrantes::before{
    content: '\e903';
    font-family: 'icones';
}
.menu-lateral__link--camisas::before{
    content: '\e900';
    font-family: 'icones';
}
.menu-lateral__link--pinturas::before{
    content: '\e90a';
    font-family: 'icones';
}
.principal{
    padding: 24px 14px;
    display: grid;
    gap: 16px;
}
.titulo-pagina{
    font-size: 1.5rem;
    font-weight: 700;
}

.titulo-secao{
    font-size: 1.5em;
    font-weight: 700;
}

.cartao{
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color:#2C343A;
}
.cartao--destaque{
    margin-bottom: 16px;
}

.cartao__conteudo{
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr ;
    gap: 8px;
}

.cartao__destaque{
    grid-column: span 2;
}

.cartao__titulo{
    font-size: 1.2rem;
    font-weight: 700;
    grid-column: span 2;
}
.cartao__perfil{

    color:#95999C ;
    font-size: 0.9rem;
    grid-column: span 2;
} 
.cartao__info{
    display: flex;
    align-items: center;
    color: #95999C ;
}
.cartao__info--tempo::before{
    content: '\e90c';
    margin: 8px;
    font-family: 'icones';
}
.cartao__info--visualizacao::before{
    content: '\e90f';
    margin: 8px;
    font-family: 'icones';
}
.cartao__botao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
}
.cartao__botao--play::before{
    content: '\e90b';
    font-family: 'icones';
    font-size: 24px;
}

.cartao__botao--destaque{
    width: 100%;
    grid-column: span 2;
}
.cartao__botao--destaque::before{
    margin-right: 8px;
}

.secao{
    display: grid;
    gap: 16px;
}
